{% extends "cursos/base.html" %}
{% load static %}
{% load i18n%}
{% block titulo %}
<title>{{aluno}}</title>
{% endblock titulo %}

{% block conteudo %}
  <h2>{{aluno}}</h2>
  <div class="row">
    <div class="col-md-12">
      <h3>{% trans 'E-mail'%}: {{aluno.email}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>{% trans 'Telephone'%}: {{aluno.telefone}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      {% if aluno.imagem %}
      <img class="img-responsive padding-5" src="{{aluno.imagem.url}}" alt="{{aluno}}" />
      {% else %}
      <img class="img-responsive padding-5" src="{% static 'imagens/foto.png'%}" alt="sem foto" />
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>{% trans 'Ongoing courses'%}</h2>
    </div>
  </div>

  {% for curso in cursos%}
  <div class="row sem-margin">
    <div class="col-md-6" data-toggle="modal" data-target="#text">
    		{% if curso.imagem %}
    		<a href="{% url 'cursos:curso' curso.slug%}"><img class="img-responsive padding-5" src="{{ curso.imagem.url}}" alt="foto do curso"></img></a>
    		{% else %}
    		<a href="{% url 'cursos:curso' curso.slug%}"><img class="img-responsive padding-5" src="{% static 'imagens/foto.png'%}" alt="sem foto" /></a>
    		{% endif %}
        <div class="row sem-margin">
          <div class="col-md-12">
            <a href="{% url 'cursos:curso' curso.slug %}"><h2 class="sem-margin"  data-toggle="modal" data-target="#text">{{curso.curso}}</h2></a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
              <p class="col-md-12 h4 text-justify"> {{curso.descricao}} <a href="{% url 'cursos:curso' curso.slug %}" >Learn more</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% empty %}
  <h3>{% trans "You don't have ongoing courses"%}</h3>
  {% endfor %}
  <div class="row">
    <div class="col-md-8 col-md-offset-1">
      <!--{# <h4>Participar de mais cursos</h4>
      {% for curso in cursos %}
        <a href="{% url 'cursos:aluno' aluno.slug%}">{{aluno}}</a>
      {% endfor %}#}-->
    </div>
  </div>
{% endblock conteudo %}
