<!DOCTYPE html>
{% load static%}
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	{% block titulo %}
	<title>Cursos</title>
	{% endblock%}
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/jailson.css' %}">
	<script type="text/javascript" src="{% static 'jquery/jquery-1.12.4.js' %}"></script>
	<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		 <div class="container">
			 <div class="navbar-header">
				 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					 <span class="sr-only">Toggle navigation</span>
					 <span class="icon-bar"></span>
					 <span class="icon-bar"></span>
					 <span class="icon-bar"></span>
				 </button>
				 <a class="navbar-brand" href="{% url 'cursos:index' %}">Home</a>
			 </div>

			 <div id="navbar" class="collapse navbar-collapse">
				 <ul class="nav navbar-nav nav-pills">
					<li role="presentation" class="dropdown">
				    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
				      Criar <span class="caret"></span>
				    </a>
				    <ul class="dropdown-menu">
								<li><a href="{% url 'criar:categoria'%}">Categoria</a></li>
								<li><a href="{% url 'criar:curso'%}">Curso</a></li>
								<li><a href="{% url 'criar:aluno'%}">Aluno</a></li>
								<li><a href="{% url 'criar:modulo'%}">Modulo</a></li>
								<li><a href="{% url 'criar:add_aluno'%}">Add Aluno</a></li>
								<li><a href="{% url 'criar:add_material'%}">Add Material</a></li>
								<li><a href="{% url 'criar:add_atividade'%}">Add Atividade</a></li>
				    </ul>
				  </li>
					<li role="presentation" class="dropdown">
				    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
				      Categorias <span class="caret"></span>
				    </a>
				    <ul class="dropdown-menu">
							{% for categoria in categorias_cp %}
								<li><a href="{% url 'cursos:categoria' categoria.slug%}">{{categoria}}</a></li>
							{% endfor %}
				    </ul>
				  </li>
					<li role="presentation" class="dropdown">
				    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
				      Alunos <span class="caret"></span>
				    </a>
				    <ul class="dropdown-menu">
							{% for aluno in alunos_cp %}
								<li><a href="{% url 'cursos:aluno' aluno.slug%}">{{aluno}}</a></li>
							{% endfor %}
				    </ul>
				  </li>
					<li role="presentation" class="dropdown">
				    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
				      Cursos <span class="caret"></span>
				    </a>
				    <ul class="dropdown-menu">
							{% for curso in cursos_cp %}
								<li><a href="{% url 'cursos:curso' curso.slug%} ">{{curso}}
									{% if not curso.is_approved %}
									   -- x --
									{% endif %}
								</a></li>
							{% endfor %}
				    </ul>
				  </li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
              {% if user.is_authenticated %}
              <li><a href="{% url 'logout' %}">Sair</a></li>
              {% else %}
              <li><a href="{% url 'login' %}">Entrar</a></li>
              <li><a href="{% url 'usuarios:cadastro_aluno' %}">Cadastrar Aluno</a></li>
              <li><a href="{% url 'usuarios:cadastro_professor' %}">Cadastrar Professor</a></li>
              {% endif %}
          </ul>
			 </div><!--/.nav-collapse -->
		 </div>
	 </nav>

	<div class="jumbotron" id="tudo">
		<div class="row">
			<div class="col-md-2">
			</div>
			<div class="col-md-8">
				<div class="jumbotron">
					{% block conteudo%}
					{% for curso in cursos%}
					<div class="row sem-margin">
						<div class="col-md-3" data-toggle="modal" data-target="#text">
							{% if curso.imagem %}
							<a href="{% url 'cursos:curso' curso.slug%}"><img class="img-responsive padding-5" src="{{ curso.imagem.url}}" alt="foto do curso"></img></a>
							{% else %}
							<a href="{% url 'cursos:curso' curso.slug%}"><img class="img-responsive padding-5" src="{% static 'imagens/foto.png'%}" alt="foto do curso"></img></a>
							{% endif %}
						</div>
						<div class="col-md-9">
							<div class="row sem-margin">
								<div class="row sem-margin">
									<div class="col-md-12">
										<a href="{% url 'cursos:curso' curso.slug %}"><h2 class="sem-margin"  data-toggle="modal" data-target="#text">{{curso.curso}}</h2></a>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
											<p class="col-md-12 h4 text-justify"> {{curso.descricao}} <a href="{% url 'cursos:curso' curso.slug %}" >Learn more</a></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
					<nav aria-label="Page navigation">
					  <ul class="pagination">
					    {% for page_number in paginator.page_range %}
					    <li{% if page_obj.number == page_number %} class="active"{% endif %}>
					        <a href="?page={{ page_number }}">{{ page_number }}</a>
					    </li>
					    {% endfor %}
					  </ul>
					</nav>
					{% endblock %}
				</div>
			</div>
		</div>
	</div>


</body>
</html>
